<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Medium Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- CSS Styling -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro&display=swap" rel="stylesheet">

    <title></title>

  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark techfont custom-navbar">
      <div class="container">

        <ul class="nav navbar-nav">
          <li><a class="nav-link brand" href="{% url 'post_list' %}">Home</a></li>
          <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link" href="https://github.com/simoninnes95">GitHub</a></li>
          <li><a class="nav-link" href="https://www.linkedin.com/in/simon-innes-8a52a3166/">LinkedIn</a></li>
        </ul>
        <span class="navbar-text">
        <ul class="nav justify-content-end">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'post_new' %}">__New Post__ </a>
            </li>
            <li>
              <a href="{% url 'post_draft_list' %}">Drafts__</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Log Out__</a>
            </li>
            <li>
              <a>Welcome: {{ user.username }}__</a>
            </li>
          {% else %}
            <li><a class="nav-link justify-content-end" href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
        </ul>
      </span>
      </div>
    </nav>

    <!-- Content -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
  </body>
</html>
